.image-main {
  color: white;
  position: relative;
  overflow: hidden;
}

.text-img > h1 {
  margin-top: 50px;
  font-weight: 700;
  font-size: 80px;
  text-align: center;
}

.text-img > p {
  margin-top: 12px;

  font-weight: 500;
  font-size: 30px;
  text-align: center;
}

.text-img {
  z-index: 2;
  font-family: "Montserrat";
  font-style: normal;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.45);
}

.main-img {
  vertical-align: bottom;
  padding: 0;
  width: 100%;
  opacity: 0.9;
}

.main {
  padding: 2em 11em;
}

.main-top {
  display: flex;
  margin-bottom: 14px;
}

.top-wrap {
  font-family: "Mukta Mahee";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  border-radius: 20px;
  padding: 8px 24px;
  text-align: center;
  border: 1px solid #fca311;
}

.top-active {
  border: none;
  background-color: #fca311;
  color: white;
}

.search-wrapper {
  position: relative;
  border-radius: 20px;
  padding: 8px 50px 8px 20px;
  border: 1px solid #fca311;
}

.search-input {
  font-family: "Montserrat";
  font-size: 24px;
  width: 100%;
  border: none;
  outline: none;
}

.search-input::placeholder {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
}

.search-icon {
  position: absolute;
  top: 25%;
  right: 16px;
}

.main-grid-wrapper {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 24px 0;
  margin-bottom: 80px;
  max-height: 1100px;
  overflow: auto;
}

.main-grid {
  display: grid;
  padding: 0 12px;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.card-wrap {
  border: 1px solid;
  border-radius: 20px;
}

.card-fill {
  padding: 22px 0 12px 0;
}

.card-circle {
  width: 140px;
  height: 140px;
  border: 1px solid;
  border-radius: 50%;
  position: absolute;
}

.ikut-btn {
  font-family: "Mukta Mahee";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;

  width: 90%;
  border-radius: 20px;
  border: 1px solid #fca311;
  color: white;
  padding: 8px 0;
  background-color: #fca311;
}

.top-wrap:hover {
  cursor: pointer;
  background-color: #fca311;
  color: #ffffff;
}

.ikut-btn:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #fca311;
}

.card-text {
  text-align: center;
}

.card-text > h3 {
  font-family: "Mukta Mahee";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin: 12px 0;
}

.card-text > p {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.img-wrap {
  display: flex;
  justify-content: center;
  position: relative;
}

.ikut-btn-wrap {
  display: flex;
  justify-content: center;
  padding: 12px 0;
  border-top: 1px solid;
}
