.left-part > h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 46px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  font-family: "Mukta Mahee";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  border: none;
  outline: none;
  background: #dee3ee;
}

.input-wrapper {
  padding: 12px 25px;
  background: #dee3ee;
  border-radius: 30px;
}

label,
input {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

.form-grid {
  width: 85%;
  margin: auto;
}

.tukar-btn {
  padding: 6px 0;
  background-color: #fca311;
  border-radius: 20px;
  font-family: "Mukta Mahee";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  border: none;
  color: white;
  width: 25%;
  border: 2px solid #fca311;
}

.tukar-btn:hover {
  cursor: pointer;
  border: 2px solid #fca311;
  background-color: white;
  color: #fca311;
}

.form-wrap {
  flex-basis: 50%;
  padding-top: 60px;
}

.left-part {
  align-self: flex-start;
}

.edit-img {
  /* position: absolute; */
  /* z-index: -2; */
  bottom: -97px;
}

.main-container > div {
  background-color: #f6f6f6;
}
