.main-wrapper {
  padding: 76px 60px;
}

.landing-text {
  font-family: "Montserrat";
  font-style: normal;
}

.landing-text > h1 {
  font-weight: 700;
  font-size: 60px;
}

.sub-text {
  font-size: 22px;
  margin: 0;
}

.img-wrap {
  border-radius: 23px;
  box-shadow: 34px -31px #445d8a;
}

.btn-top {
  padding: 14.5px 0;
  min-width: 30%;
  border-radius: 10px;
  background-color: #7593c4;
  border: none;
  outline: none;
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  border: 2px solid #7593c4;
}

.btn-top:hover {
  cursor: pointer;
  background-color: white;
  color: #7593c4;
  border: 2px solid #7593c4;
}

.tiket-text > h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}

.tiket-text > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
}

.buat-tiket {
  margin-top: 70px;
}

.tiket-text {
  padding: 0 70px;
}

.form-wrapper {
  background-color: #dee3ee;
  border-radius: 20px;
  padding: 1.2em 3em;
  display: grid;
  gap: 1em 4em;
}

.third-width {
  width: 65%;
  grid-template-columns: auto auto;
}

label {
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 12px;
}

.select-wrapper {
  border-radius: 20px;
  padding: 6px 25px;
  background-color: white;
  /* line-height: 40px; */
}

.select-input {
  width: 100%;
  font-family: "Mukta Mahee";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  border: none;
  outline: none;
  /* line-height: 27px; */
}

.select-input::placeholder {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.input-invisible {
  opacity: 0;
}

.mock-button {
  position: absolute;
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  gap: 1em;
  top: 2px;
}

.tukar-btn {
  padding: 6px 0;
  background-color: #fca311;
  border-radius: 20px;
  font-family: "Mukta Mahee";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  border: none;
  border: 2px solid #fca311;
  color: white;
  width: 12%;
}

.tukar-btn:hover {
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid #fca311;
  color: #fca311;
}

.btn-faq {
  background-color: #dee3ee;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  padding: 20px 25px !important;
  border-radius: 11px !important;
}

.container-main {
  padding: 0 110px;
}

.faq {
  font-weight: 700;
}
