.main-container {
  display: flex;
  background-color: #14213d;
  color: white;
}

.wlcome {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  text-align: center;
  margin-bottom: 68px;
}

.col {
  flex-basis: 50%;
}

.form-login {
  gap: 20px;
  display: grid;
  margin: auto;
  width: 100%;
}

#rememberMe {
  width: 20px;
  height: 20px;
}

.remember-label {
  font-family: "Mukta Mahee";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

a.remember-label {
  text-decoration: none;
  color: white;
}

.input {
  font-family: "Gothic A1";
  font-size: 20px;
  border-radius: 20px;
  height: 70px;
  border: none;
  /* width: 100%; */
  padding: 0 50px 0 20px;
}

.label {
  font-family: "Mukta Mahee";
  font-size: 20px;
  font-weight: 700;
}

.login-btn {
  font-family: "Mukta Mahee";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: white;
  border: none;
  height: 70px;
  border-radius: 20px;
  background-color: #fca311;
}

.login-sso {
  justify-content: center;
  display: flex;
  gap: 12px;
}

.login-btn:hover {
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid #fca311;
  color: #fca311;
}

.daftar_now {
  color: white;
}

.daftar_now:hover {
  text-decoration: underline;
}

.login-img {
  max-height: 100vh;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .col-img,
  .login-img {
    display: none;
  }

  .col {
    flex-basis: 100%;
  }
}

@media screen and (min-width: 1025px) {
  .main-container {
    overflow: hidden;
  }
}

.vis-icon {
  position: absolute;
  bottom: 20px;
  right: 10px;

  /* bottom: 10; */
  /* right: 0; */
}

.vis-icon:hover {
  cursor: pointer;
}
