.main-wrap {
  background-color: #f6f6f6;
  padding: 73px 60px;
}

.user-text > h2 {
  font-weight: 700;
  font-size: 32px;
}

.user-text > p {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 13px;
}

.select-wrap > select {
  padding: 0 13px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  background-color: #7593c4;
  color: white;
  outline: none;
  border: none;
}

.select-wrap {
  padding: 13px 20px 13px 6px;
  border-radius: 10px;
  background-color: #7593c4;
}

.points > h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  color: #fca311;
}

.points > p {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

.riwayat {
  margin-top: 70px;
}

.riwayat > h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 13px 25px 13px 29px;

  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  display: flex;
  justify-content: space-between;
}

.card :nth-child(2) {
  font-weight: 600;
}

.tukar-btn {
  background-color: #fca311;
  border-radius: 20px;
  font-family: "Mukta Mahee";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 33px;
  outline: none;
  border: none;
  color: white;
  margin-top: 65px;
  padding: 9px 60px;
  border: 2px solid #fca311;
}

.tukar-btn:hover {
  cursor: pointer;
  background-color: white;
  color: #fca311;
}
