.main-wrap > h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}

.main-wrap {
  background-color: #f6f6f6;
}

.profile-wrap {
  background-color: #ffffff;
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 25px 31px 66px 31px;
  font-family: "Montserrat";
  font-style: normal;
  text-align: center;
}

.profile-wrap > h1 {
  font-weight: 600;
  font-size: 35px;
}

.profile-wrap p {
  font-weight: 500;
  font-size: 22px;
}

.data-wrap {
  margin-top: 27px;
  padding: 29px 50px;
  background: #262c42;
  border-radius: 20px;
  color: white;
}

.data-flex {
  display: flex;
  justify-content: space-between;
}

.data-item :nth-child(1) {
  font-weight: 600;
  font-size: 20px;
}

.data-item :nth-child(3) {
  font-weight: 400;
  font-size: 25px;
}

.edit-btn {
  background-color: #fca311;
  border-radius: 10px;
  color: white;
  font-family: "Mukta Mahee";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  outline: none;
  border: 2px solid #fca311;
  line-height: 50px;
  padding: 0 31.5px;
  margin-top: 48px;
}

.edit-btn:hover {
  cursor: pointer;
  border: 2px solid #fca311;
  background-color: white;
  color: #fca311;
}
