body {
  background-color: #14213d;
}

.wrapper {
  background-color: white;
  box-shadow: 16px 29px 22px 0px #00000040;
  box-shadow: 16px 29px 22px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 6em;
  margin-bottom: 5em;
  width: 50%;
  color: #0e132c;
}

label {
  display: block;
  font-family: "Mukta Mahee";
  font-size: 20px;
  font-weight: 500;
}

input {
  height: 50px;
  border: 1px solid #000000;
  border-radius: 20px;
  /* width: 100%; */
  padding: 0 50px 0 20px;
}

.form-wrapper {
  width: 60%;
  margin: auto;
  padding-bottom: 6em;
}

.reg-btn {
  color: white;
  background-color: #fca311;
  border-radius: 20px;
  font-family: "Mukta Mahee";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  border: none;
  height: 50px;
  width: 40%;
  margin: auto;
}

.reg-btn:hover {
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid #fca311;
  color: #fca311;
}

.vis-icon {
  position: absolute;
  bottom: 12px;
  right: 10px;

  /* bottom: 10; */
  /* right: 0; */
}

.vis-icon:hover {
  cursor: pointer;
}
