* {
  margin: 0;
  padding: 0;
  /* list-style: none; */
  text-decoration: none;
  align-items: center;
  transition: 0.2s ease;
}

.hidden,
.modal-hidden {
  display: none !important;
}

html {
  scroll-behavior: smooth;
}

.logo > a {
  text-decoration: none;
}

.logo > a:hover {
  text-decoration: none;
}

.fs-poppins {
  font-family: "Poppins";
}

.fs-gothic {
  font-family: "Gothic A1";
}

.fs-montserrat {
  font-family: "Montserrat";
}

.fs-mukta {
  font-family: "Mukta Mahee";
}

.fs- #arrow_artikel {
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(136deg)
    brightness(109%) contrast(101%);
  width: 40px;
  cursor: pointer;
}

#arrow_artikel:hover {
  transform: scale(1.2);
}

#Logo_EliTrash {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: white;
}
.modal,
.modal-bs {
  position: absolute;
  display: grid;
  gap: 8px;
  background-color: white;
  border-radius: 12px;
  padding: 10px 0px;
  width: 120px;
  text-align: center;
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
  bottom: -6em;
  right: 2em;
  z-index: 3;
}

.modal a,
.modal-bs a {
  text-decoration: none;
  color: black;
}

.modal li:hover,
.modal-bs li:hover {
  background-color: #989898;
}

.modal li,
.modal-bs li {
  font-family: "Mukta Mahee";
  font-weight: 700;
  font-size: 20px;
  list-style: none;
}
.modal-bs a:hover {
  text-decoration: none;
  color: black;
}

nav {
  height: 100px;
  width: 100%;
  background-color: #14213d;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .content_80 {
  width: 80%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
}
.rest {
  display: flex;
  flex-direction: row;
}
.acc_pic {
  border-radius: 50px;
  background-color: white;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

#account_pic {
  width: 45px;
}

#koin_pic {
  width: 18px;
  padding-right: 0.3rem;
}

.lastt {
  display: flex;
  flex-direction: row;
}

.account_profile p {
  font-family: "Mukta Mahee";
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  margin-right: 1rem;
}

.nav_links {
  display: flex;
  flex-direction: row;
}

.nav_links a:hover {
  text-decoration: none;
}
.links {
  font-family: "Mukta Mahee";
  font-weight: 700;
  font-size: 20px;
  line-height: 33px;
  text-decoration: none;
  /* display: flex; */
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin: 0rem 1.5rem;
}

.active-nav::after {
  position: absolute;
  width: 20%;
  content: "";
  border-radius: 20px;
  background-color: #fff;
  height: 5px;
  bottom: -10px;
  right: 40%;
}

.links:hover {
  color: #fca311;
}
.account {
  background-color: #fca311;

  border-radius: 20px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  justify-content: space-between;
}

.account:hover {
  cursor: pointer;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h5 {
  font-family: "Mukta Mahee";
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
}

.section_1 {
  margin: 1rem;
  height: 80vh;
  display: flex;
  justify-content: center;
}

#section_1_gambar {
  width: 442px;
  height: 550px;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}

.button_section_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 223px;
  height: 53px;
  background: #fca311;
  border-radius: 10px;
  font-family: "Mukta Mahee";
  font-style: normal;
  font-size: 28px;
  line-height: 50px;
  color: #ffffff;
  margin-top: 2rem;
  border: none;
}

.button_section_1:hover {
  background-color: #ffffff;
  border: 2px solid #fca311;
  color: #fca311;
  cursor: pointer;
}

.section_1 .content_80 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #14213d;
}

.section_1_teks {
  display: flex;
  flex-direction: column;
  width: 40rem;
  margin-right: 2rem;
  align-items: flex-start;
  color: #14213d;
}

.section_1 h6 {
  font-family: "Mukta Mahee";
  font-weight: 600;
  font-size: 28px;
  line-height: 50px;
  margin-bottom: 0.7rem;
}

.section_1 h3 {
  font-family: "Mukta Mahee";
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
  margin-bottom: 1rem;
}

.section_1 p {
  font-family: "Gothic A1";
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
}

.section_2_layanan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

.section_2_layanan .content_80 {
  width: 80%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section_2_cards {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.cards {
  width: 315px;
  font-family: "Mukta Mahee";
  font-weight: 600;
  font-size: 45px;
  line-height: 80px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: 11px 6px 19px rgba(167, 167, 167, 0.25);
  border-radius: 20px;
  flex-direction: column;
  margin: 2rem 4rem;
  transition: ease;
}

.button_detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: "Mukta Mahee";
  font-weight: 500;
  font-size: 25px;
  color: #fca311;
  width: 111px;
  height: 35px;
  background-color: white;
  border: 2.5px solid #fca311;
  border-radius: 5px;
}

.button_detail:hover {
  color: white;
  background-color: #fca311;
  cursor: pointer;
}

#card_icons {
  height: 90px;
  filter: invert(34%) sepia(39%) saturate(567%) hue-rotate(179deg)
    brightness(93%) contrast(92%);
}
.cards:hover {
  font-weight: 600;
  font-size: 51.75px;
  cursor: pointer;
}

.cards:hover #card_icons {
  transform: scale(1.2);
  cursor: pointer;
}

.section_3_whatWeWant {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content_85 {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #14213d;
  border-radius: 10px;
  padding: 3rem;
  margin: 2rem;
  padding-bottom: 5rem;
}

#section_3_gambar {
  width: 50%;
  border-radius: 15px;
}

.section_3_teks {
  padding: 2rem;
  width: 70%;
  color: white;
  font-family: "Mukta Mahee";
  padding: 0rem 5rem;
}

.section_3_teks h5 {
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  padding: 1.5rem 0rem;
}

.section_3_teks p {
  font-size: 24px;
  line-height: 36px;
}

.button_tentangKami {
  display: flex;
  flex-direction: row;
  padding: 10px;
  gap: 10px;
  width: 220px;
  height: 44px;
  background: #445d8a;
  border: none;
  border-radius: 10px;
  margin-top: 1.5rem;
  font-family: "Mukta Mahee";
  font-size: 26px;
  line-height: 50px;
  color: #ffffff;
}

.button_tentangKami:hover {
  color: #14213d;
  background: #ffffff;
  cursor: pointer;
}

.button_tentangKami:hover #arrow {
  filter: invert(13%) sepia(10%) saturate(3106%) hue-rotate(182deg)
    brightness(95%) contrast(100%);
}

#arrow {
  width: 30px;
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(136deg)
    brightness(109%) contrast(101%);
}

.section_4_statistik {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 5rem;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0rem 2rem 2rem 2rem;
  width: 250px;
}

.stats:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.stats:hover .garis {
  transform: scale(1);
  width: 75%;
}

.stats h4 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 80px;
  color: #000000;
  text-align: center;
}

.stats h6 {
  font-family: "Gothic A1";
  font-style: normal;
  font-size: 20px;
  line-height: 35px;
}

.stats h5 {
  font-family: "Gothic A1";
  font-style: normal;
  font-size: 25px;
  line-height: 35px;
  color: #000000;
}

.garis {
  width: 130px;
  margin-top: 2rem;
  height: 7px;

  background: #fca311;
  border-radius: 10px;
}

.section_5_artikel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 5rem;
}

.section_5_artikel .content_85 {
  width: 90%;
  padding: 2.3rem 1.8rem;
}

.section_5_teks {
  width: 16%;
  margin-right: 2rem;
}

.section_5_artikel h4 {
  font-family: "Mukta Mahee";
  font-weight: 700;
  font-size: 50px;
  line-height: 32px;
  margin-bottom: 1.5rem;
}

.section_5_artikel h5 {
  font-family: "Gothic A1";
  font-size: 24px;
  line-height: 50px;
  font-weight: 400;
}

.button_next {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0rem 0.8rem;
  gap: 44px;
  width: 120px;
  height: 31px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  font-family: "Mukta Mahee";
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
  color: white;
  background-color: transparent;
  margin-top: 1.3rem;
}

.button_next:hover {
  background-color: white;
  color: #14213d;
}

.button_next:hover #arrow {
  filter: invert(13%) sepia(10%) saturate(3106%) hue-rotate(182deg)
    brightness(95%) contrast(100%);
}

.section_5_card {
  display: flex;
  flex-direction: column;

  margin: 0rem 0.8rem;
}

#section_5_gambar {
  width: 330px;
  height: 275px;
  border-radius: 14px 14px 0px 0px;
}

#EduEli {
  font-family: "Mukta Mahee";
  font-size: 18px;
  line-height: 35px;
  color: #fca311;
  margin: 0.6rem 0rem 0rem 1.3rem;
}

.card_teks {
  width: 330px;
  height: 125px;
  background-color: white;
  border-radius: 0px 0px 14px 14px;
}

.card_teks h6 {
  font-family: "Mukta Mahee";
  margin: 0rem 1.5rem;
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  color: #000000;
}

.about_us {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background: #14213d;
  align-items: flex-start;
  color: white;
}

.about_us_blocks {
  margin: 1rem 2rem;
  width: 100%;
  padding: 0.3rem;
}

.about_us_blocks h5 {
  font-family: "Mukta Mahee";
  font-weight: 700;
  font-size: 30px;
  line-height: 50px;
}

.about_us_blocks h6 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin: 1rem 0rem;
}

.about_us_blocks p {
  font-family: "Gothic A1";
  font-weight: 200;
  line-height: 25px;
  font-size: 20px;
  padding: 0.3rem;
}

#about_us_icons {
  margin-top: 1rem;
  margin-right: 2rem;
  width: 33px;
}

.copyright {
  display: flex;
  justify-content: center;
  padding: 38px;
  font-family: "Poppins";
  font-size: 17px;
  color: white;
  background-color: #445d8a;
}
