.main {
  padding: 100px 60px 143px 98px;
}

.title {
  font-size: 60px;
  font-weight: 700;
}

.sub-title {
  margin-top: 2em;
  font-weight: 400;
  font-size: 26px;
}

.form-wrapper {
  background-color: #eeeeee;
  border-radius: 20px;
  padding: 1.2em 3em;
  display: grid;
  gap: 1em 4em;
}

.third-width {
  width: 65%;
  grid-template-columns: auto auto;
}

label {
  display: block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 12px;
}

.select-wrapper {
  border-radius: 20px;
  padding: 6px 25px;
  background-color: white;
  /* line-height: 40px; */
}

.select-input {
  width: 100%;
  font-family: "Mukta Mahee";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  border: none;
  outline: none;
  /* line-height: 27px; */
}

.select-input::placeholder {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.input-invisible {
  opacity: 0;
}

.mock-button {
  position: absolute;
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  gap: 1em;
  top: 0;
}

.tukar-btn {
  padding: 6px 0;
  background-color: #fca311;
  border-radius: 20px;
  font-family: "Mukta Mahee";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  border: none;
  color: white;
  width: 12%;
  border: 2px solid #fca311;
}

.tukar-btn:hover {
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid #fca311;
  color: #fca311;
}
